<container>
  <row>
    <columns small="12" large="12" class="content">
{{#markdown}}

Friends and clients,

While there are dozens of things you can do to increase your chances of selling your home fast and for the most money possible, there are two things we recommend that give you the best chances.

The key is making the home show well, and that starts with staging. Surveys have shown staged homes can sell for more than 10% higher. For an accurate look at your home’s current value, use our [free home value tool]({{homeval}}).

Since the way we sell your home is not the same way you live in your home, it’s important to stage it in a way that appeals to today’s buyers, in such a way that allows them to imagine themselves living there, and make an emotional connection.

Staging doesn’t have to mean a total overhaul of rented furniture; a good Realtor can give you tips for using your own things to make your home show at its best. As experts in the {{market}} market, we know the tastes and trends of buyers, which allows us to tap into the their wants with your home. Our pre-listing packet even includes a section with expert stating, and is [free to download on our site]({{alternate-link}}).

To really make your home stand out, we recommend all of our clients use professional photography to showcase your home online. In today’s world of real estate, more than 90% of buyers start their home search online, where you have just a few precious seconds to make an impression with your home.

Dark, grainy, and poorly shot photos can be the difference in a buyer deciding whether or not they even want to see your home. That’s why we use a shortlist of a couple professional photographers we know and trust.

If you have any more questions or you’re thinking about buying or selling a home in {{market}}, don’t hesitate to reach out to me.

Your local Realtor,

{{name}}<br>
{{phone}}

{{/markdown}}
    </columns>
  </row>
</container>
