<container>
  <row>
    <columns small="12" large="12" class="content">
{{#markdown}}

Friends and clients,

Whether you are buying a new construction home or a home that is over 25 years old, we always recommend that you have a home inspection.

Home inspections let you know exactly what you are getting into before you get the keys to your home. If there are too many problems with the property and you cannot negotiate repairs with the seller, you then have the opportunity to walk away from the contract.

There are a few red flags you should pay attention to in your home inspection.

For example, if you are buying a home more than 25 years old, watch out for polybutylene piping. Once considered the plumbing of the future, polybutylene pipes can actually be very faulty and cause water damage. You would need to make a major investment to replace those pipes.

Regardless of the age of the home, always be on the watch for discoloration. Discoloration on the walls may be an indicator of mold, while discoloration on the ceiling could indicate a faulty roof.

If there are any issues with the roof, you are looking at a cost between $15,000 and $40,000 to replace the faulty roof. If the roof has an active leak and you are using FHA or conventional financing, most banks will not finance the purchase.

Your inspector will also go over the electrical and HVAC systems in the property. Older homes may have outdated circuit breakers. Your insurance company would consider that a hazard and not insure the property until the circuit breakers are updated.

Newer homes may not have been wired correctly to begin with, and that can be an incredibly expensive fix.

Of course, your real estate agent can always negotiate with the seller and see if they will be responsible for all or some of the repairs. That said, if there are simply too many red flags, you can always walk away from the transaction and find a property that better suits the needs of you and your family.

If you are looking for your next home, you can [search the MLS here]({{homesearch}}). If you are thinking of selling your home and would like to know what it is worth in today’s market, you can [request a free home valuation here]({{homeval}}).

If you have any questions, please don’t hesitate to reach out to us. We would be happy to help you!

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}

{{/markdown}}
    </columns>
  </row>
</container>
