<!-- Email subject: Red flags in home inspections -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
Whether you are buying a new construction home or a home that is over 25 years old, {{#if single-agent}}I{{else}}we{{/if}}  always recommend that you have a home inspection.

Home inspections let you know exactly what you are getting into before you get the keys to your home. If there are too many problems with the property and you cannot negotiate repairs with the seller, you then have the opportunity to walk away from the contract.

There are a few red flags you should pay attention to in your home inspection.

For example, if you are buying a home more than 25 years old, watch out for polybutylene piping. Once considered the plumbing of the future, polybutylene pipes can actually be very faulty and cause water damage. You would need to make a major investment to replace those pipes.

Regardless of the age of the home, always be on the watch for discoloration. Discoloration on the walls may be an indicator of mold, while discoloration on the ceiling could indicate a faulty roof.

If there are any issues with the roof, you are looking at a cost between $15,000 and $40,000 to replace the faulty roof. If the roof has an active leak and you are using FHA or conventional financing, most banks will not finance the purchase.

Your inspector will also go over the electrical and HVAC systems in the property. Older homes may have outdated circuit breakers. Your insurance company would consider that a hazard and not insure the property until the circuit breakers are updated.

Newer homes may not have been wired correctly to begin with, and that can be an incredibly expensive fix.

Of course, your real estate agent can always negotiate with the seller and see if they will be responsible for all or some of the repairs. That said, if there are simply too many red flags, you can always walk away from the transaction and find a property that better suits the needs of you and your family.

If you are looking for your next home, you can [search the MLS here]({{homesearch}}). If you are thinking of selling your home and would like to know what it is worth in today’s market, you can [request a free home valuation here]({{homeval}}).

If you have any questions, please don’t hesitate to reach out to {{#if single-agent}}me{{else}}us{{/if}}. {{#if single-agent}}I{{else}}We{{/if}} would be happy to help you!
{{else}}
Whether you’re buying a home that’s brand new or older than your parents, {{#if single-agent}}I{{else}}we{{/if}} always recommend you have a home inspection done.

Inspections let you know exactly what you’re getting into. Most issues that arise from inspections are fixable and negotiable, but there are a few a red flags that can come up in a home inspection that you’d be wise to walk away from as a buyer. Most contracts have inspection contingencies that allow you to walk away from the contract and get all your money back if something comes up.

Things that could cause lasting damage down the road include:

* Polybutylene piping, which can easily be faulty
* Discoloration, which could indicate water damage, or worse, mold
* Roof issues, which can turn into needing a new $15,000 roof in a month
* Outdated circuit/breaker boxes, which can become expensive whole-house repairs
* Cracks in the foundation wall, which can indicate settling, structural damage, and water penetration

With the inspection contingency, all of these things allow you to walk away if you choose. Your {{agent}} can help you determine the severity on a case by case basis as well, and guide you through the negotiation process after the inspection comes back.

If you’re looking for homes in {{market}}, feel free to use our totally free [home search tool]({{homesearch}}), which has all homes listed for sale in the area. If you have questions about home inspections and red flags in real estate transactions, give {{#if single-agent}}me{{else}}us{{/if}} a call, and let’s talk soon.
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}
    </columns>
  </row>
</container>
