<!-- Subject Line: What not to do when buying a home or Mistakes to avoid when buying a home-->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
As a {{agent}} in {{market}}, I see people make the same mistake over and over when buying a home. Although they are not aware that they are making any mistakes, these problems often end up costing them the home. It’s both sad and disappointing for everyone involved.

As a guide, these are the things you should absolutely not do when buying a home.

For starters, don’t make any major purchases. Big purchases affect your credit, and any change in your credit or FICO score has an impact on your mortgage eligibility. New cars or boats may seem obvious, but even buying furniture for your new home can have an impact. You may not lose the house, but you will most likely affect your interest rate at least.

Likewise, don’t apply for new credit cards at any point during your home search or transaction. It will also affect your credit score, and similarly, your mortgage interest rate or buying power. A negative effect on your interest rate will decrease how much you can afford to spend on a mortgage.

Thirdly, don’t co-sign for anything at all during the process. Financial liability of any kind will have an impact on your mortgage. As a cosigner, the other person’s debt always has the potential to become your debt, and mortgage companies certainly take this into account.

You’re also far better off getting pre-approved for a mortgage before you make an offer on a home and, frankly, before you even begin to look at homes. This is true for two reasons.

For one, squaring away how much you’ll be able to borrow will give you a very clear picture of what you can afford to spend on a home. Many buyers skip this step, only to fall in love with a house that they later find out they can’t afford. Secondly, in today’s market, many home sellers won’t even take an offer without a letter of pre-approval seriously. They want to be certain that the deal can be made.

Knowing your price point will help you in your search. We’ve taken things a step further by purchasing all the local home sale data in {{market}}. You can search all homes for sale in the area with our free [home search tool]({{homesearch}}).

With your credit in check, your mortgage picture cleared up, and a price point set, you’re then ready to enlist the help of a real estate professional. Go with an experienced, local, and qualified professional who knows the area you’re looking at inside and out. The best part is, as a buyer, working with an agent won’t cost you a thing.

I’d love to talk with you about the {{market}} market and how we can help you. Give me a call today or simply reply to this email. Let’s talk soon.
{{else}}
As a {{agent}}, I’ve seen a lot of buyers through successful real estate transactions. I have also seen more than my fair share of mistakes.

Today, we want to share the top buyer mistakes for you to avoid.

1. Not getting pre-approved. Before you even look at a home, you should speak with a local lender and get pre-approved. The lender will run a full credit check, gather paperwork such as tax returns, W-2s, and pay stubs, and tell you how much home you can afford to buy.

2. Not hiring the right real estate agent. Everyone has a cousin who works part-time in real estate. You need to interview at least three agents before hiring the right (full-time!) agent to help you achieve your real estate goals.

3. Making major purchases during closing. Don’t mess up your financing by buying a car or new furniture for your new home. Doing so will change your credit and, in turn, change your loan amount.

Those are just three of the major mistakes we see buyers make every day. If you have any questions about buying a home, please don’t hesitate to reach out to me/us. We would be happy to help you.

If you are looking for a home, you can [search all active properties on the MLS here]({{homesearch}}).

If you are selling a home, you can [request a free home valuation]({{homeval}}) to see what your home is worth in today’s market.
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
