<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends,

Labor Day is upon us, and we just wanted to shed some light on a holiday that not many people know the history of. We did some digging and are excited to share with you the history of Labor Day.

The origins of Labor Day go back all the way to 1885 in New York, where citizens passed a municipal ordinance for a holiday to honor the accomplishments of working people in America.

The real purpose of the holiday today, according to the Department of Labor’s website, is this:

*“The vital force of labor added materially to the highest standard of living and the greatest production the world has ever known and has brought us closer to the realization of our traditional ideals of economic and political democracy. It is appropriate, therefore, that the nation pay tribute on Labor Day to the creator of so much of the nation’s strength, freedom, and leadership — the American worker.”*

Another thing we should mention about Labor Day is that it signals an uptick of activity here in our market. More sellers are going to come onto the market looking to sell, and there are still a lot of buyers out there taking advantage of the low interest rates we’ve been seeing.

If you’ve considered putting your home on the market, I invite you to check out our [free home value report]({{homeval}}), which will give you an estimate of what your home could sell for in this post-Labor Day market.

I think you’ll be surprised at what your home is actually worth.

If you’ve entertained the idea of purchasing a home, now is a great time to do that as well. We don’t know when interest rates are going to rise, but it’s going to be soon. [Go here]({{homesearch}}) to take a look at all of the latest, up-to-date listings in our area.

If you have any questions for us in the meantime, don’t hesitate to give us a call or send us an email. We look forward to hearing from you and hope you have a great Labor Day!

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}<br>
[{{email}}](mailto:{{email}})<br>
[{{email2}}](mailto:{{email2}})
			{{/markdown}}
		</columns>
	</row>
</container>
