<container>
	<row >
			<img style="width: 580px;" src="https://s3.amazonaws.com/vyralmarketing/Living+Well+Med+Spa/email+assets/grandopeningbanner-Living-Well.jpg">
	</row>
	<row class="title">
		<columns>
			<h1>You Are Invited...</h1>
		</columns>
	</row>
	<row>
		<columns class="light-teal">
			<h2 style="text-align: center">GRAND<h2>
		</columns>
		<columns class="dark-teal">
			<h2 style="text-align: center">REOPENING</h2>
		</columns>
	</row>
	<row class="content">
		<columns>
<br><p>Come join us for a fabulous grand reopening to showcase our new space this upcoming October 6th from 4:00-7:00 PM. We will have food and amazing raffle prize giveaways <u>like Free Botox for A Whole Year</u>, gift bags from multiple vendors, and so much more…</p>

<p>Come and learn how you can unmask a more vibrant flawless natural beauty to show off a more natural and youthful you. We will be showcasing several of our cosmetic chemical peel products, have live demonstrations of Botox, and other skin rejuvenation services and products.</p>

<p>Clients will have the opportunity to do a one on one meet and greet with product representatives from our high end partners like Allergan, Skin Ceuticles, Epionce, Cutera, and Vipeel. This is a <b><i><u>great</u></i></b> opportunity for you to come and learn more about all of the products you love and also discover new products or solutions for your skin.</p>

<p>All event participants will receive a raffle ticket for just showing up. Bring your friends and you can earn yourself additional raffle tickets to go towards any of our amazing product baskets & services.</p>

<p>Thinking about a trying out a service but you haven’t booked it yet? No Problem! We have a special incentive just for you! For every $100 you spend at our event on booking prepaid services or purchasing products, you will receive an additional ticket raffle ticket to enter to win any of our amazing prizes.</p>

<p>Take advantage of this opportunity to finally get the results you have been wanting and save money in the process with our event only specials.</p>

<p>Warmest regards,</p>

<p>Your Living Well Team</p>
		</columns>
	</row>

	<row class="content">
		<columns>
			<center><img src="https://s3.amazonaws.com/vyralmarketing/Living+Well+Med+Spa/email+assets/Michelle.png" alt="" /></center>
			<p style="text-align: center">
				Michelle
			</p>
		</columns>
		<columns>
			<center><img src="https://s3.amazonaws.com/vyralmarketing/Living+Well+Med+Spa/email+assets/Chad-Pfefer-rnd-100-100.png" alt="" /></center>
			<p style="text-align: center">
				Dr. Chad Pfefer
			</p>
		</columns>
		<columns>
			<center><img src="https://s3.amazonaws.com/vyralmarketing/Living+Well+Med+Spa/email+assets/Sam.png" alt="" /></center>
			<p style="text-align: center">
				Samantha
			</p>
		</columns>
	</row>
	<row class="content">
		<columns>
			<center><img src="https://s3.amazonaws.com/vyralmarketing/Living+Well+Med+Spa/email+assets/LWISL_Logo-15-sm.png" alt="" /></center>
		</columns>
	</row>
	<row class="content">
		<columns>
			<center>
				<button href="tel:9713274365" class="expanded radius">Give Us a Call</button>
			</center>
		</columns>
		<columns>
			<center>
				<button href="http://www.livingwellskin.com/" class="expanded radius">Visit Our Webpage</button>
			</center>
		</columns>
	</row>
	<row class="title">
		<columns>
			<p style="text-align: center;"><br>
				300 NW Stucki Pl., Ste 280<br>
				Hillsboro, OR 97123
			</p>
		</columns>
	</row>
</container>
