<!-- Subject Line: How appraisals actually work  -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
Appraisals affect both buyers and sellers in a home transaction in {{market}}.

If you’re selling your home, it critically important to understand how your house will be judged in an appraisal, because it affects how much money banks are willing to loan a buyer to purchase your home, and therefore, affects the amount of money you can net.

If you don’t know what an appraisal is or how it works - don’t worry. You’re not alone.

An appraisal is a value assessment that a bank orders to be performed by an unbiased third party to pinpoint how much the home would sell for on a given day. If a buyer defaults on their mortgage, the bank needs to know they’ll be able to recoup the debt that’s owed on the home.

It’s a security measure for the bank, essentially. *If you don’t pay your mortgage, can we get all of our money back if we sell the home in foreclosure?*

To assign an accurate value to your home, the appraiser will compare the house to similar homes in your area that have recently sold.

They’re looking at location, square footage, age, and features of your home. Is it off a busy street or the back of a cul-de-sac? How many bedrooms and bathrooms does it have? When was it built? What sort of upgrades like a finished basement or remodeled kitchen does the home have? Those are the types of questions the appraisal seeks to answer.

So how does it affect you as a seller? With an appraised value, the bank essentially caps the amount of money you can receive for your home if it’s purchased through financing. If you’re home’s appraised value comes in at [$175,000] / [$200,000] / [$250,000] / [$300,000], the bank won’t approve a mortgage on an offer above [price].

That’s what it means when you hear that a home “didn’t appraise.” The appraised value was lower than the price offered.

If you home doesn’t appraise, it’s back to the drawing board. If the buyer is willing, they may offer to pay the difference between the loan amount and the appraised value, or make a higher down payment to reduce the amount financed. In many cases, they may ask you to simply accept a lower price.

If you’re dealing with a cash buyer, the appraisal isn’t an issue, since the bank is not involved in financing. Most sellers in [area] won’t have this luxury, however.

If you want a good picture of your home’s current value, you can utilize our totally free home valuation tool [link, which takes some of those extra factors like locations and size into account.
For a more precise home valuation, we’d love to come out to your home at no cost and give you an honest assessment of what your property is worth. We study the market every day, and can provide an excellent idea of a home’s market value. Simply respond to this email or give {{#if single-agent}}me{{else}}us{{/if}} a call today to set up a consultation.

I hope to hear from you soon. We’d love to help you out.

{{else}}


{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
