<!-- Subject Line Version A: 5 signs it’s time to make a move -->
<!-- Subject Line Version B: 3 signs it’s time to make a move -->
<container>
  <row>
    <columns small="12" large="12" class="content">
{{#markdown}}
Friends and clients,

{{#if version-A}}
There has been a lot of action in the {{market}} market lately, causing a lot of homeowners to contact {{#if single-agent}}me{{else}}us{{/if}} about the value of their home. Lots of homeowners have been surprised to find out how much higher their home’s value was than they thought.
{{#button}}[Click here to use {{#if single-agent}}my{{else}}our{{/if}} free home value tool]({{homeval}}){{/button}}
For that reason, {{#if single-agent}}I{{else}}we{{/if}} wanted to point out to you the top five signs that it’s time for you to take advantage of this market and make a move.

1. **Money**: Take a hard look at your finances and see if you would need to save for a down payment, could explore renovations or remodels, or if you have enough equity in your home to put a down payment on a better home. There might not be a better time than now to cash in with values as high as they are, and interest rates as low as they are.

1. **Storage**: Have you outgrown your storage space? Many older homes in {{market}} have a fraction of the closet and storage space of newer (or simply larger) homes. Storage is one of the most important aspects for today's homeowners. You're not alone!

1. **Growing household**: Having a baby is an obvious reason to want a bigger home, but it's not the only way a household grows. Maybe your parents are moving in with you or you're a parent yourself with kids moving back in after college. All of these require lots of additional space.

1. **Downsizing**: On the other hand, maybe your household is getting smaller and you want less house to maintain. Not only would you have less space to clean and take care of, your utility bills come down significantly with less square footage. With an increase in the value of your home and the equity you earned, you might truly be able to get into your dream home now.

1. **Declining neighborhood**: It's a simple fact of life that the quality of a neighborhood can fall fast. If neighbors aren't taking care of their property like you do, it can drag down home values across the board. You don't want to wait for the makeup of your area to change completely and lose out on the value you have right now.

Keep in mind that the best time to move is when you need to move, regardless of what the market is doing.However, if you have the luxury of choosing when to enter the real estate market, now is a great time to sell your home.

To see what your property is worth in today’s market, get your [free property valuation here]({{homeval}}).

If you are buying in this market, [search all homes on the MLS here]({{homesearch}}).

If you have any questions, please don’t hesitate to reach out to {{#if single-agent}}me{{else}}us{{/if}}.
{{else}}

How do you know when it is time to move? Many homeowners have been wondering if they should take advantage of {{#if single-agent}}my{{else}}our{{/if}} current seller’s market.

{{#button}}[Click here to use {{#if single-agent}}my{{else}}our{{/if}} free home value tool]({{homeval}}){{/button}}

{{#if single-agent}}I{{else}}We{{/if}} thought {{#if single-agent}}I{{else}}we{{/if}} would share three signs that now may be the time for you to move:

1. **Money**: Take a look at your finances and see how much equity is in your home. You should also talk to your Realtor about the current market. Is now the time to cash in on your equity?

2. **Space**: Whether you need to move up or move down, finding the right-sized home for you and your family may be a good reason to move.

3. **Declining neighborhood**: The quality of a neighborhood can fall fast. If neighbors aren’t taking care of their homes, their properties can drag your home's value down. You don’t want to wait for your area to change completely and lose out on the value you have now.

Keep in mind that the best time to move is when you need to move, regardless of what the market is doing. However, if you have the luxury of choosing when to enter the real estate market, now is a great time to sell your home.

To see what your property is worth in today’s market, get your [free property valuation here]({{homeval}}).

If you are buying in this market, [search all homes on the MLS here]({{homesearch}}).

If you have any questions, please don’t hesitate to reach out to {{#if single-agent}}me{{else}}us{{/if}}.

{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}
    </columns>
  </row>
</container>
