<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
If you are thinking about selling your home, you have probably gone on Zillow.com to see what your property is worth. Zillow uses an algorithm called a Zestimate to assign a value to your property.

Can you trust these Zestimates? Unfortunately, no.

Even Zillow admits that their Zestimates can be off by 5% to 15%. This might not seem like much, but let’s say your home is worth $200,000 in the current {{market}} market. If your Zestimate is off by 5%, you would be missing out on $10,000. If your Zestimate is off by 15%, you could be missing out on more than $30,000!

Zillow comes up with these Zestimates using public information on past sales in your area. The problem is there are many factors that determine home value.

For instance, Zillow has no way of knowing what upgrades and renovations you have made to your property. The algorithm cannot factor in your new countertops, the fresh coat of paint you just added, or the outdoor kitchen you had built in the backyard.

Not only that, Zillow doesn’t know if you are on an irregular lot, what school systems are nearby, or even if you have a pool on your property.

Furthermore, active listings in your neighborhood directly impact the value of your home. Zillow doesn’t always have updated information about which properties are active on the market. There are properties listed as ‘For Sale’ on Zillow that actually sold months ago!

How can you know what your home is worth in today’s market? It’s simple. Ask a {{agent}} to come out to your property.

This is a complimentary service. {{#if single-agent}}I{{else}}We{{/if}} will come out to your home, walk through the property, and compare it to similar homes for sale in your area. Unlike Zillow, {{#if single-agent}}I{{else}}We{{/if}} have accurate, updated information about which properties are on the market in your area.

{{#if single-agent}}I{{else}}we{{/if}} also study local market trends so that your home is priced to sell and net you the most money. Zillow cannot take these highly localized factors into account.

Zillow is a great place to get an idea of what your property is worth. However, you should not make any major real estate decisions based on a Zestimate.

If you are interested in knowing what your property is worth, [request a free home valuation report]({{homeval}}).

If you are searching for homes in {{market}}, see the latest, [updated information from the MLS here]({{homesearch}}).

If you have any questions, please don’t hesitate to reach out to {{#if single-agent}}me{{else}}us{{/if}}. {{#if single-agent}}I{{else}}We{{/if}} would be happy to help you!
{{else}}
If you’ve visited Zillow, you’ve seen their Zestimates, or automated home values. What you may not know is that Zillow uses an algorithm to come up with these values using a very limited number of factors.

While Zillow is a fun website and a fun place to get a general idea of home values, the site can’t take things like home upgrades or location into account. A 4-bed, 3-bathroom house next to the highway that hasn’t been updated since the 80s is virtually the same as a 4-bed, 3-bathroom house in a quiet cul-de-sac built just last year.

Even Zillow admits that Zestimates can be off by 5% to 15%. If your {{market}} home is actually worth $200,000, that value could be off by up to $30,000! Zillow’s own CEO sold his home in 2016 for 40% less than the Zestimate.

The only way to get an accurate value for you home is with the help of a real estate professional who knows the market inside and out.

To make things easier for {{market}} homeowners, {{#if single-agent}}I{{else}}we{{/if}}’ve created a [home value tool you can use free on {{#if single-agent}}my{{else}}our{{/if}} website]({{homeval}}). Send {{#if single-agent}}me{{else}}us{{/if}} some info about your home, and for an even more accurate valuation, snap a few photos and email them along. {{#if single-agent}}I{{else}}We{{/if}}’ll provide you an accurate value on your home.

If you have questions about home value, give {{#if single-agent}}me{{else}}us{{/if}} a call today.
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}
    </columns>
  </row>
</container>
