<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
If you're looking to sell your home, there are a handful of essential steps to take before you list your home on the market.

Before listing your home, inquire with an agent about a free comparative market analysis or CMA. The report they provide should be thorough and comprehensive - much like an appraisal would be - and help you pinpoint your home's value. If you're looking for a preliminary home valuation, feel free to [use {{#if single-agent}}my{{else}}our{{/if}} free valuation tool]({{homeval}}).

Ask about marketing and advertising efforts. Gone are the days on the sticking ‘For Sale’ sign in the yard and praying for buyers. Effective agents and their teams spend thousands of dollars each month toward marketing efforts to make your home sell faster and for more money, including comprehensive online marketing, social media, and traditional media, like print.

Additionally, use professional photography to showcase your home. In most of the country, about 90% of buyers start searching for homes online. You have just a few precious seconds to make that all-important first impression on a buyer, so make your home stand out with high-quality professional photos. {{#if providephotography}}{{#if single-agent}}I{{else}}We{{/if}} utilize a professional photographer to take care of {{#if single-agent}}my{{else}}our{{/if}} sellers.{{else}}{{/if}}

Find out what is important to you and your family when it comes to offers on the home. Too many buyers make the mistake of simply accepting the highest dollar amount when they receive offers. Many times this is, in fact, the best option, but you also need to consider your priorities.

Do you value a fast close and avoiding the stress of financing? A cash buyer may be a better fit for you, even if they offer a little less money. Maybe you want a leaseback agreement if you're having a hard time finding your next home. Your agent will guide you through any offers to see which align best with the things that are important to you.

Taking these preliminary steps will not only smoothen your sale in the future but also help you find out what your goals are when selling a home. When you enlist the help of a real estate professional, remember that who you choose will be the person or team guiding you through one of the biggest transactions of your whole life.

If you're selling your home in {{market}}, {{#if single-agent}}I{{else}}we{{/if}} would love the chance to talk with you about how {{#if single-agent}}I{{else}}we{{/if}} can help you achieve the things that are most important to you in a home sale. If you're just thinking of making a move and selling your home, take advantage of {{#if single-agent}}my{{else}}our{{/if}} [free home valuation tool]({{homeval}}). In about 60 seconds, you'll have an estimated value on your home.

If you have any other questions, feel free to contact me today for a free consultation, or simply reply to this email. Let's talk soon!
{{else}}
If you’re looking to sell your home, there are a handful of essential steps you need to take before you even put your property on the market. These four steps are:

1. Figure out your home value. Contact a real estate agent and ask for a free home market analysis, or comparative market analysis (CMA).

2. Ask about marketing and advertising. Your agent can’t just stick a ‘For Sale’ sign in the yard and expect to sell your home. Ask your agent about their marketing strategy.

3. Figure out what you want in an offer. Do you need to close quickly, or do you need more time to find your next home? Your agent will help you figure out which offer and conditions are best for you.

4. Declutter and make repairs. Maybe there are a few deferred maintenance issues you need to deal with before you put your home on the market. Take care of any small issues that will catch the buyer’s eye or deter them.

It may seem like a hassle to get your home ready for the market, but taking these simple steps will get you stronger offers in the end.

If you are curious about what your home is worth in today’s market, you can [request a free home valuation here]({{homeval}}). If you are looking for a home, you can [search the MLS here]({{homesearch}}).

If you have any questions, please don’t hesitate to reach out to me. {{#if single-agent}}I{{else}}We{{/if}} would be happy to help you!
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}
    </columns>
  </row>
</container>
