<!-- Subject Line: Is it time for you to downsize?  -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
When most people talk about buying a home, they talk about moving up into a bigger, more expensive property. However, what if you are already in that bigger property? How do you know if it’s time to move?

If you’re trying to figure out the right time to downsize, there are some questions you should ask yourself:

* Are there rooms in your home that you no longer use?
* Are your kids grown and (officially) out of the house?
* Are you doing a lot of maintenance and upkeep for spaces that aren’t lived in anymore?
* Are you cleaning your pool or working on your yard more than you would like to?
* Are you tired of driving long distances to movie theaters, restaurants, or stores?

If you said yes to any of these questions, now may be a great time to move into a smaller home.

Ultimately, you need to ask yourself if you want to change your lifestyle. Do you want to move closer to your family? Do you want to move to a more walkable neighborhood? Are you interested in being downtown by more restaurants and shopping centers?

Changing your living situation can be exciting, but deciding whether or not to downsize can be overwhelming. We can help you figure out where to donate or dispose of certain items you no longer need. We will work to make the transition as smooth as possible.

Finally, keep in mind that just because you’re not a “move-up buyer” doesn’t mean you’re not improving your lifestyle. Think of downsizing as “right-sizing;” you are simply looking for a property that fits your specific needs and wants right now. We can help you find your next dream home.

If you have any questions about your home’s current value, [request a free home valuation report here]({{homeval}}). If you are interested in searching for a new home, [see what’s available on the MLS here]({{homesearch}}).

If you have any questions, give {{#if single-agent}}me{{else}}us{{/if}} a call or send {{#if single-agent}}me{{else}}us{{/if}} an email. I would be happy to help you!

{{else}}
You’ve reached that point in life - the kids have grown up and moved out, and suddenly you find yourself with too much home.

It’s one thing to have too much space, but thinking about maintaining that much house and paying bills on space you don’t use is another.

It may be time to downsize.

Do you have rooms that aren’t used at all anymore? Are you cleaning space (or a yard or pool) that haven’t been used in some time? Are you tired of paying utilities on a large home that you use only part of?

If you’re thinking about downsizing, ask yourself if you’re ready for a lifestyle change. What is important to you? Do you want to live closer to family, or maybe closer to the hustle and bustle of {{market}}? Or are you ready for a quieter, more adult-friendly community?

Perhaps most importantly, are you ready to cash in on the equity you’ve built up on your home over the years? You may have the chance to move into a much nicer home if you’ve built up enough equity in your home, and you plan on downsizing.

Do you know your home’s current value? To know what your home is worth and what types of home you can look at when downsizing, use our [free home value tool]({{homeval}}), and our [free home search]({{homesearch}}).

It’s a complicated and emotional process, and we understand that. If you have questions about downsizing, please feel free to give {{#if single-agent}}me{{else}}us{{/if}} a call soon.

{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
