<!-- Subject Line: Real estate teams vs. solo agent -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
Real estate has changed dramatically over the last decade. Not only have there been huge advancements in real estate technology, but more and more real estate agents are joining teams.

A solo agent has a lot more on his or her plate than helping you find a home to buy or helping you sell your home. They also have to deal with listings, paperwork, lockboxes, signs, marketing, and more. They have to prospect constantly for more buyers and sellers in order to build their own business.

If you want to be successful, your best bet is to hire a real estate team.

Why? The main reason to work with a real estate team is specialization.

Think about it this way - when you go to see your doctor, you first talk to a receptionist. Then you speak with a nurse about general health questions. After that, your doctor comes into address the issue. Later on, you meet with the billing department.

Real estate teams are very similar.

Within a team, members typically handle only one or two tasks. Repetition creates perfection, so each team member specializes in a certain part of the transaction, like an assembly line.

The team approach to real estate ultimately leads to better quality control and gives our clients a better customer service experience.

For example, our listing agents focus on listing appointments. They specialize in setting the right marketing plan to get your home sold. The buying division of the team shows properties all day long and ultimately becomes the best buyer agents in town.

We even have an administrative office. Our admin team is made up of hardworking people who are experts at handling all of the behind-the-scenes aspects of the transaction.

When you work with a real estate team, you get specialized and individual attention that a solo agent simply cannot give you. We are able to respond to any questions you might have right away.

If you are interested in selling your home, you can [request a free home valuation from our team here]({{homeval}}).

If you are looking to buy a home, you can [search all properties available on the MLS here]({{homesearch}}).

If you have any questions, please don’t hesitate to reach out to us. We would be happy to help you!
{{else}}
Real estate has changed so much over the last decade with the onset of the Internet and technology. If you've thought about selling your home, would you work with an individual agent, or a real estate team?

Home buyers become savvier by the year, and the industry has needed to adapt so we as {{agent}}s can provide the best service possible. Real estate professionals must be experts now in more fields than ever, from the market, to negotiation, to marketing and more.

We still have the old duties too, of showing homes, paperwork, and dealing with buyer agents, among others.

That's why more and more agents are adapting to the modern market and joining real estate teams.

These teams have members that are highly specialized in just one or two fields; you won't have to worry about your agent worrying about showings, marketing, negotiation, and administrative work. The team approach allows everyone to specialize in their best area, which makes the transaction more efficient for everyone, and most importantly, you.

Our team, for example, has a full-time administrative assistant who works solely on the types of tasks that bog down solo agents and keep them from assisting you at all times.

We'd love to show you everything our specialized team has to offer. To start, you can [find out your home's value with our free valuation tool]({{homeval}}). We can also show you all homes available for sale in {{market}} with our [free home search tool]({{homesearch}}).

If you have questions, don't hesitate to call or email me.

{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
