<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
When you’re preparing to sell your home, you can add a lot of value to your bottom line at a very low cost if you focus on the right upgrades.

Spending some money on simple fixes and upgrades to appeal to today’s buyers doesn’t mean a big remodel anymore - in fact, remodels rarely give you as high of a return on your investment as these small upgrades.

For a clearer picture of your home’s current value, you can take 60 seconds to fill in some basic info on {{#if single-agent}}my{{else}}our{{/if}} [free home value tool]({{homeval}}). For a more precise, professional estimate, I’d love to come to your home for a free consultation.

Remember that kitchens, bathrooms, and master bedrooms sell homes!

For minimal spending (about $500 and below), you can start with one of the quickest and easiest ways to modernize your home, and that’s by updating fixtures and hardware. This includes cabinet pulls and handles, door knobs, light switch plates, and light fixtures, like wall sconces or vanities. Paint is also one of the easiest ways to change the look of a home at a low cost. Today’s buyers gravitate toward neutral colors, like light gray.

To simply freshen up your space, go for professional carpet cleaning and professional house cleaning service. Old dingy carpet and old, musty, distinct home smells (that you don’t even notice anymore!) are one of the biggest turnoffs to buyers when they see view a home. The pros will not only freshen up the space, they’ll also take care of those overlooked areas like dirty baseboards, dusty ceiling fan blades, and grime between kitchen appliances. Buyers getting the sense that a home is well-maintained is priceless.

If you’re willing to put in more money like a few thousand dollars, you’ll really be able to tap into the features that add significant value to  your home when it goes on the market.

One of the best returns we see homeowners investing in is removing popcorn ceilings. This can cost upwards of $1,000, but it instantly modernizes a home and gets rid of one of modern buyers’ least favorite features.

To get the biggest bang for your buck, look to upgrades in those ever-important kitchens and bathrooms. In smaller bathrooms, you can do a small “remodel” for under $2,000 with new vanity, light fixtures, faucet, paint, and even tile if you’re willing to do some of the work yourself.

In the kitchen, the biggest returns come in the form of countertops, appliances, cabinets and fixtures. While the whole bundle will cost a lot, you’re more likely to get a better return by sticking to one. Stainless steel appliances are a must for many buyers and are always a good buy.

To keep costs minimal, stick to replacing the kitchen faucet and the cabinet and drawer hardware. Depending on the type of cabinetry you have, refacing them or simply painting them can give a kitchen a totally new and improved look.

The first and safest bet for maximizing your investment is to bring in a {{agent}} who knows today’s market inside and out. {{#if single-agent}}I{{else}}We{{/if}} can help figure out exactly where you are likely to gain the most value with upgrades, based on current tastes and {{market}} buyer preferences. The best part is, it won’t cost you a thing. You have nothing to lose, but potentially thousands and thousands of dollars to gain.

We’d love to help you find out about your home’s value and how you can maximize your bottom line with cost-effective upgrades. To set up a consultation - or simply have a conversation about your situation - give us a call or reply to this email. I hope to hear from you soon!
{{else}}
When you are getting your home ready for the market, don’t completely renovate your entire home. Instead, just a few small updates can get you a huge return on investment.

If you want to spend less than $500, you can start by updating fixtures and hardware. You can also paint your home. Painting your property in neutral colors gets you the best possible return on investment.

Other things you can do include professionally cleaning your carpet and your home. Get rid of carpet stains and make the room smell fresh. A clean home looks well-maintained and resonates positively with buyers.

If you are able to put a couple thousand dollars into preparing your home for the market, consider getting rid of popcorn ceilings to instantly modernize your home.

Finally, if you have some extra money to invest in your home, make upgrades to your kitchen and bathrooms. Kitchens and bathrooms sell homes! If your kitchen and bathrooms are in tip-top shape, you will get some strong offers from home buyers.

If you are interested in knowing more about which specific updates you should make to your home, [request a free home valuation here]({{homeval}}). {{#if single-agent}}I{{else}}We{{/if}} can determine which repairs or updates you should make in order to get the most money from your home sale.

If you are a buyer, you can search all available homes on the MLS here.

If you have any questions, please don’t hesitate to give {{#if single-agent}}me{{else}}us{{/if}} a call or send {{#if single-agent}}me{{else}}us{{/if}} an email. {{#if single-agent}}I{{else}}We{{/if}} would be happy to help you.
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
