<!-- Subject: How to deal with multiple offers -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
As a seller, multiple offer situations sound amazing. After all, you can choose which offer you want. Sometimes, the buyers will even drive the price above asking price!

However, multiple offer situations can also be overwhelming. If you have five or 10 buyers competing against each other for your property, how do you know which offer is best for you?

First of all, keep in mind that the highest offer is not always the best one. Price is certainly an important factor when choosing which offer to accept.

However, there are many other factors to consider besides price. For example, do you want to keep your washer, dryer, and refrigerator?

It’s also important to know when the buyer wants to take possession of your home, especially if you haven’t found your next property yet. Your timeline needs to line up with the buyer’s. You may need to negotiate a rent-back from the buyer if you are not ready to move yet.

On the other hand, the buyer might want to take possession two weeks before you are even scheduled to move. That might not be the best offer to accept.

You should also pay attention to the buyer’s financing. Cash is king 99% of the time. When you accept a cash offer, you are not required to do an appraisal, which almost ensures that you will make it to the closing table.

Most buyers need a mortgage, though. If you accept a mortgage offer, you need to do an appraisal. If the home doesn’t appraise, the deal could fall through.

Finally, pay attention to contingencies. Almost every buyer will request a home inspection, but some add speciality inspections. Others may make an offer that is contingent on the buyer selling their home. Ultimately, the fewer contingencies an offer has, the better off you are.

A {{agent}} can help you choose which offer is best for you. {{#if single-agent}}I{{else}}We{{/if}} will go through each offer and compare the price and terms. Then, {{#if single-agent}}I{{else}}we{{/if}} will determine which offer will net you the most money and get you the best terms.

If you are interested in selling your home, you can [request a free home valuation here]({{homeval}}).

If you are buying a home, [search all available properties here]({{homesearch}}).

If you have any questions, give {{#if single-agent}}me{{else}}us{{/if}} a call or send me an email. {{#if single-agent}}I{{else}}We{{/if}} would be happy to help you!
{{else}}
Having multiple offers on a home sounds great - you get to pick and choose, and the asking price may even be driven up.

The choosing part can be overwhelming, however. That’s why it’s important to understand the many facets of an offer and decide what is important to you before listing.

The highest bid always looks good, but consider financing, contingencies, time tables, and possession. Most sellers would prefer a cash offer over a financed offer, for example. If you’re selling an older home, an offer without a home inspection contingency might be very attractive to you. Additionally, cash buyers mean you won’t have to worry about potential appraisal issues.

Time tables matter to some sellers more. Maybe you’d like a fast close; a buyer offering a 30-day close is better than a 45-day close. If you haven’t found your next home yet, you might prefer a buyer offering a leaseback agreement, so you’re guaranteed a place to live, no matter what.

A {{agent}} can help you assess every aspect of an offer and help you decide which is best for you. Knowing what’s important to you all starts with figuring out the value of your home; once you know what you can expect to make, you can think about what is important to you in an offer. For a valuation on your home, [check out {{#if single-agent}}my{{else}}our{{/if}} free home value tool]({{homeval}}).

If you have questions about more facets of an offer, don’t hesitate to reach out to {{#if single-agent}}me{{else}}us{{/if}} with any questions.
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
