<!-- Subject Line: Don’t get bit by termites before listing -->
<container>
  <row>
    <columns small="12" large="12" class="content">
			{{#markdown}}
Friends and clients,

{{#if version-A}}
Termite damage scares potential home buyers like nothing else in {{market}}. It can be one of the largest value drains on your home when you sell, but you can get out ahead of this problem with a termite inspection.

You might be think - wait, don’t buyers have inspections performed? Traditionally, yes, inspections are done after a buyer makes an offer on your home and it goes under contract.

But why not take care of this problem before it even has a chance to become a problem?

A preemptive termite inspection (usually costing less than $100) is best way to know exactly where you stand before you start negotiating the sales price of your home. Termite damage can have serious structural implications, requiring thousands of dollars in repairs.

If the damage is bad enough, the money needed to repair termite-induced can be large enough to make the deal fall through in negotiations. With that cost looming, it’s almost certainly too late to go back to the bargaining table and ask for more money to cover the cost of the repairs.

If there’s nothing wrong, then you have nothing to worry about, and you can be 100% sure of that when you list your home. That peace of mind is invaluable.

Another issue with termite inspections that always seems to get overlooked is that it helps you avoid getting stuck with a damaged or rotting deck. Did you know that wooden decks and patio covers actually bring very minimal (sometimes even zero) value to your home?

If you know before you list that the deck is shot, you’ll know if you need to replace it or simply scrap it. If you don’t get out ahead of the problem with a termite inspection of your own, you might be stuck with a buyer asking you to replace or repair the deck - a high-cost project that brings very minimal value.

Finally, a pre-list termite inspection will help you avoid wasting thousands on painting your house or replacing a roof in vain. It’s a shame to spend thousands of dollars improving your curb appeal with new paint or a new roof only to find out that you’re going to have to spend thousands more to fix termite damage, fungus, or dry rot.

All that could all be avoided with a termite inspection costing around $100 or less! It’s really a no-brainer.

If you’re looking for a great termite inspector in {{market}}, I’d be happy to refer a great name.
{{else}}
Termite damage scares potential buyers away and can be one of the largest value drains on your home when it comes time to sell. Be proactive and get a termite inspection before listing.

A preemptive termite inspection usually costs less than $100 and alerts you to any repairs you need to make before selling your home.

Termites can cause serious structural damage and cost thousands of dollars in repairs. If a buyer finds termite damage, they will probably walk away from the transaction.

If you find termite damage in the deck in your backyard, you can probably tear out the deck for a relatively inexpensive cost. Decks actually don’t add significant value to your home. If a buyer finds damage, they may ask you to replace the deck, which would cost you a lot of time and money.

Finally, the termite inspection helps you prioritize your repairs. You don’t want to invest in renovating your bathrooms or repairing the roof only to discover a bigger, structural issue thanks to termites.

If you are interested in selling your home, let me know and I can put you in touch with a professional inspector. You can also [request a free home valuation here]({{homeval}}) to see what your home is worth in today’s market.

If you are buying a home, you can [search all available properties on the MLS here]({{homesearch}}).

Please don’t hesitate to reach out to me with any questions. I look forward to hearing from you!
{{/if}}

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}
{{/markdown}}

    </columns>
  </row>
</container>
