<row>
	<columns class="header" small="12" large="12" align="center" valign="top" width="100%" background="{{email-banner}}">
	<a href="{{website}}" target="_blank"><center><img src="https://s3.amazonaws.com/vyralmarketing/vyral-marketing/email+template+images/Thanksgiving1.jpg" border="0" style="display: block;"></center></a>
	</columns>
</row>
<container>
  <row>
    <columns small="12" large="12" class="content">
{{#markdown}}
Friends,

The holiday season has officially begun! We hope you are as excited as we are.

We’d like to take a moment to express our gratitude to all of you this Thanksgiving. Over the years, we have met some truly wonderful people, and we wouldn’t be where we are today without all of your support.

Enjoy your Thanksgiving dinner with all of your family and friends—that’s what we plan to do!

In the meantime, if you have any real estate questions, please don’t hesitate to reach out to us. We would be happy to help you.

Happy Thanksgiving,

Your {{market}} {{agent}},

{{name}}<br>
{{phone}}<br>
[{{email}}](mailto:{{email}})<br>
[{{email2}}](mailto:{{email2}})
{{/markdown}}
		</columns>
	</row>
</container>
